<div class="container">
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPomodoroTypeModalLabel">Add pomodoro type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newType" placeholder="Enter new type..."/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveNewType">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#saveNewType").click(function () {
        Pomodoro().AddNewPomodoroType(user.userId, $("#newType").val());
    });
</script>